<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./tailwind.css" rel="stylesheet" />
    <title>Tropicana Bingo & Arcade</title>

    <!-- ALPINE -->

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"
    ></script>

    <!-- GOOGLE FONTS Poppins -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- GOOGLE FONTS Yesteryear -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="font-family: Poppins, sans-serif">
    <header>
      <!-- FIXED NAV -->

      <nav
        class="hidden md:flex flex-row justify-between items-center text-sm bg-primary py-2 px-4 md:px-2 lg:px-4 fixed z-50 w-full gap-4 shadow-md"
      >
        <div class="h-8 min-w-[100px]">
          <img
            src="./img/logos/logo-full.png"
            alt="Logo"
            class="object-contain w-full h-full"
          />
        </div>
        <div class="flex flex-row grow justify-center max-w-[1000px]">
          <div
            class="flex flex-row grow justify-center font-normal text-center text-white cursor-pointer items-center lg:text-base"
          >
            <a
              href="#hero"
              class="py-1 px-2 hover:underline hover:underline-offset-4 hover:text-fifth hover:decoration-2 hover:font-bold transition-all ease-in leading-6"
            >
              Inicio
            </a>
            <a
              href="#products"
              class="py-1 px-2 hover:underline hover:underline-offset-4 hover:text-fifth hover:decoration-2 hover:font-bold transition-all ease-in leading-6"
            >
              Galería
            </a>
            <a
              href="#about"
              class="py-1 px-2 hover:underline hover:underline-offset-4 hover:text-fifth hover:decoration-2 hover:font-bold transition-all ease-in leading-6 text-nowrap"
            >
              Sobre nosotros
            </a>
            <a
              href="#reviews"
              class="py-1 px-2 hover:underline hover:underline-offset-4 hover:text-fifth hover:decoration-2 hover:font-bold transition-all ease-in leading-6"
            >
              Reseñas
            </a>
            <a
              href="#contacto"
              class="py-1 px-2 hover:underline hover:underline-offset-4 hover:text-fifth hover:decoration-2 hover:font-bold transition-all ease-in leading-6"
            >
              Contacto
            </a>
            <a
              href="#sucursales"
              class="py-1 px-2 hover:underline hover:underline-offset-4 hover:text-fifth hover:decoration-2 hover:font-bold transition-all ease-in leading-6"
            >
              Ubicación
            </a>
          </div>
        </div>
        <div class="min-w-[140px]">
          <button
            type="button"
            class="lg:min-w-[170px] bg-fifth text-primary py-2 px-4 text-lg flex gap-2 items-center sm:text-xs lg:text-base w-full transition-all ease-in hover:bg-fifth/50 focus:ring-4 focus:bg-fifth focus:ring-fifth/50 active:bg-opacity-0 active:ring-4 active:ring-fifth/50 active:text-fifth disabled:bg-opacity-50 rounded-full"
          >
            <div class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <span class="text-nowrap">(787) 736 3871 </span>
          </button>
        </div>
      </nav>

      <!-- MOBILE NAV -->

      <nav
        x-data="{ open: false }"
        class="md:hidden fixed flex-row justify-between items-center text-sm bg-primary z-50 w-full shadow-md top-0 flex py-2 px-4"
      >
        <div class="flex flex-row items-center justify-between text-sm w-full">
          <div class="h-8">
            <img
              src="./img/logos/logo-full.png"
              class="object-contain h-full w-full"
              alt="Logo ícono"
            />
          </div>
          <div class="flex items-center gap-2">
            <div class="flex items-center gap-2">
              <button
                id="call-icon"
                class="text-lg text-primary bg-fifth rounded-full py-1 px-4 cursor-pointer transition-all ease-in hover:text-primary focus:ring-2 focus:ring-fifth/50 focus:text-primary active:ring-2 active:ring-fifth active:text-fifth active:bg-opacity-0 disabled:opacity-50"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <button
                id="bars"
                x-on:click="open = ! open"
                class="text-lg text-fifth cursor-pointer transition-all ease-in p-1 hover:text-fifth focus:ring-2 focus:ring-fifth focus:text-fifth active:ring-2 active:ring-white active:text-white disabled:opacity-50"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 9a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 9Zm0 6.75a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>

            <div
              x-show="open"
              id="menu"
              class="flex flex-col grow justify-center absolute top-[48px] right-[0] shadow-lg"
            >
              <div
                class="flex flex-col grow justify-evenly font-medium text-darkGray text-center divide-y z-20 bg-white"
              >
                <a
                  href="#hero"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Inicio
                </a>
                <a
                  href="#products"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Galería
                </a>
                <a
                  href="#about"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Sonre nosotros
                </a>
                <a
                  href="#reviews"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Reseñas
                </a>
                <a
                  href="#contacto"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Contacto
                </a>
                <a
                  href="#sucursales"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Ubicación
                </a>
                <a
                  href="#horarios"
                  class="flex py-3 px-6 justify-center items-center self-stretch hover:bg-primary transition-all ease-in hover:bg-opacity-50"
                >
                  Horarios
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- BANNER PROMOCIONAL -->

      <section>
        <div
          class="w-full bg-sixth text-white text-sm sm-banner flex justify-between items-center p-4 absolute top-[48px] z-30"
        >
          <div class="text-white h-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6"
            >
              <path
                fill-rule="evenodd"
                d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <p class="text-center">¡Eventos especiales y cumpleaños!</p>
          <div class="text-white h-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6"
            >
              <path
                fill-rule="evenodd"
                d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </section>
    </header>

    <main>
      <!-- HERO -->
      <section
        id="hero"
        class="text-center flex flex-col md:flex-row items-center justify-center h-[550px] mt-[100px] md:mt-0 bg-hero-mobile md:bg-hero-desktop bg-center bg-cover bg-no-repeat"
      >
        <div
          class="flex flex-col justify-center items-center w-[80%] md:w-1/2 h-[70%] md:pt-24 md:h-full"
        >
          <div
            class="bg-white flex items-center p-6 flex-col gap-4 w-10/12 md:w-2/3 rounded-3xl"
          >
            <div class="w-full flex flex-col items-center">
              <div class="mb-6 w-full">
                <h1 class="font-bold text-xl leading-10">
                  ¡Celebra tu <br />
                  <span
                    style="font-family: Yesteryear, cursive"
                    class="text-third font-normal text-5xl"
                    >Cumpleaños</span
                  >
                  <br />
                  con nosotros!
                </h1>
              </div>
              <div class="flex flex-row items-center justify-center w-full">
                <button
                  type="submit"
                  class="bg-fifth text-white py-2 px-4 font-semibold text-lg flex gap-2 items-center justify-center w-full transition-all ease-in max-w-60 hover:bg-third focus:ring-4 focus:bg-third focus:ring-third/50 active:bg-fifth active:ring-4 active:ring-fifth/50 disabled:bg-opacity-50 rounded-full"
                >
                  Contáctanos
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- PRODUCTOS -->
      <section id="products" class="flex items-center py-16 flex-col bg-white">
        <div class="w-[90%] md:w-full flex flex-col items-center gap-8">
          <h2 class="font-bold text-center text-2xl md:text-5xl text-secondary">
            Diversión a la Tropicana
          </h2>

          <!-- CARDS MOBILE -->

          <div class="w-full">
            <div
              id="slideshow-container"
              class="flex flex-col flex-wrap md:flex-row justify-center gap-8"
            >
              <!-- CARD 01 -->

              <div class="md:w-[30%] min-w-[280px] max-w-[350px]">
                <div class="w-full flex flex-col">
                  <div class="h-96">
                    <img
                      src="./img/products/AA01s.png"
                      alt="Baguettes"
                      class="object-cover w-full h-full rounded-3xl"
                    />
                  </div>
                </div>
              </div>

              <!-- CARD 02 -->

              <div class="md:w-[30%] min-w-[280px] max-w-[350px]">
                <div class="w-full flex flex-col">
                  <div class="h-96">
                    <img
                      src="./img/products/AA02s.png"
                      alt="Flanes"
                      class="object-cover w-full h-full rounded-3xl"
                    />
                  </div>
                </div>
              </div>

              <!-- CARD 03 -->

              <div class="md:w-[30%] min-w-[280px] max-w-[350px]">
                <div class="w-full flex flex-col">
                  <div class="h-96">
                    <img
                      src="./img/products/AA03s.png"
                      alt="Pasteles"
                      class="object-cover w-full h-full rounded-3xl"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- DEPARTAMENTOS -->
      <section
        id="departamentos"
        class="flex justify-center bg-secondary text-white"
      >
        <div
          class="flex flex-col items-center w-[90%] md:w-9/12 py-16 max-w-[1000px]"
        >
          <h2 class="font-bold text-center mb-14 text-2xl md:text-5xl">
            Our services
          </h2>
          <div
            class="flex flex-wrap justify-evenly md:justify-around gap-x-4 sm:gap-x-12 md:gap-x-20 gap-y-14 h-full w-full"
          >
            <!-- CARD 01 -->

            <div
              class="flex flex-col justify-center items-center text-center mb-4 max-w-32"
            >
              <div
                class="bg-white rounded-full w-32 h-32 flex justify-center items-center"
              >
                <img
                  src="img/departamentos/DD01s.png"
                  alt="Bingo Bonanza"
                  class="object-contain"
                />
              </div>
              <div>
                <h4 class="font-semibold mt-4">Bingo Bonanza</h4>
              </div>
            </div>

            <!-- CARD 02 -->

            <div
              class="flex flex-col justify-center items-center text-center mb-4 max-w-32"
            >
              <div
                class="bg-white rounded-full w-32 h-32 flex justify-center items-center"
              >
                <img
                  src="img/departamentos/DD02s.png"
                  alt="Arcade Extravaganza"
                  class="object-contain"
                />
              </div>
              <div>
                <h4 class="font-semibold mt-4">Arcade Extravaganza</h4>
              </div>
            </div>

            <!-- CARD 03 -->

            <div
              class="flex flex-col justify-center items-center text-center mb-4 max-w-32"
            >
              <div
                class="bg-white rounded-full w-32 h-32 flex justify-center items-center"
              >
                <img
                  src="img/departamentos/DD03s.png"
                  alt="Eventos y cumpleaños"
                  class="object-contain"
                />
              </div>
              <div>
                <h4 class="font-semibold mt-4">Eventos y cumpleaños</h4>
              </div>
            </div>

            <!-- CARD 04 -->

            <div
              class="flex flex-col justify-center items-center text-center mb-4 max-w-32"
            >
              <div
                class="bg-white rounded-full w-32 h-32 flex justify-center items-center"
              >
                <img
                  src="img/departamentos/DD04s.png"
                  alt="Family friendly"
                  class="object-contain"
                />
              </div>
              <div>
                <h4 class="font-semibold mt-4">Family friendly</h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- SOBRE NOSOTROS -->
      <section id="about" class="bg-primary">
        <div class="flex flex-col items-center justify-center">
          <div
            class="flex flex-row justify-center py-12 md:py-16 w-10/12 max-w-[800px] md:gap-8"
          >
            <div class="flex flex-col items-center justify-center w-[90%]">
              <div
                class="flex flex-col justify-center items-center h-16 md:h-32 mb-8"
              >
                <img
                  src="./img/logos/logo-full.png"
                  alt="Logo"
                  class="object-contain w-full h-full"
                />
              </div>
              <div class="flex flex-col gap-4">
                <div
                  class="text-white flex flex-col gap-4 items-center text-center"
                >
                  <p>En Tropicana, combinamos la emoción del bingo y la diversión de los juegos de arcade bajo un mismo techo, creando una experiencia de entretenimiento inolvidable para todas las edades.</p>
                  <p>
                    
¡Adéntrate en nuestro mundo vibrante donde la diversión no tiene límites y las posibilidades son infinitas!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- TESTIMONIOS -->
      <section id="reviews" class="flex items-center py-16 flex-col bg-black">
        <div
          class="w-[90%] lg:w-full flex flex-col items-center max-w-[1000px] gap-8"
        >
          <h2 class="text-center text-2xl md:text-5xl font-bold text-white">
            Lo que piensan nuestros clientes
          </h2>

          <div
            class="flex flex-col md:flex-row gap-8 flex-wrap justify-evenly w-full"
          >
            <!-- CARD 01 -->
            <div class="flex flex-row gap-4 items-centers justify-center">
              <div
                class="w-full md:max-w-[250px] flex flex-col items-center gap-4 p-6 bg-white rounded-2xl shadow-2xl"
              >
                <div class="h-32 hidden md:inline-block">
                  <img
                    src="img/review/RR01s.png"
                    alt="Yeney Suarez"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div class="flex flex-col items-center text-center gap-4">
                  <p class="text-gray-500">
                    <strong>"</strong>Many games and entertainment, every day we are waiting for you<strong>"</strong>
                  </p>
                  <h4 class="font-semibold">Yeney Suarez</h4>
                  <div>
                    <img src="img/icons/facebook-bl.png" alt="Facebook logo" />
                  </div>
                </div>
              </div>
            </div>

            <!-- CARD 02 -->
            <div class="flex flex-row gap-4 items-centers justify-center">
              <div
                class="w-full md:max-w-[250px] flex flex-col items-center gap-4 p-6 bg-white rounded-2xl shadow-2xl"
              >
                <div class="h-32 hidden md:inline-block">
                  <img
                    src="img/review/RR02s.png"
                    alt="Eduardo Vera"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div class="flex flex-col items-center text-center gap-4">
                  <p class="text-gray-500">
                    <strong>"</strong>Me gusta mucho Tropicana Bingo Arcade<strong>"</strong>
                  </p>
                  <h4 class="font-semibold">Eduardo Vera</h4>
                  <div>
                    <img src="img/icons/facebook-bl.png" alt="Facebook logo" />
                  </div>
                </div>
              </div>
            </div>

            <!-- CARD 03 -->
            <div class="flex flex-row gap-4 items-centers justify-center">
              <div
                class="w-full md:max-w-[250px] flex flex-col items-center gap-4 p-6 bg-white rounded-2xl shadow-2xl"
              >
                <div class="h-32 hidden md:inline-block">
                  <img
                    src="img/review/RR03s.png"
                    alt="Ofelita Cabrera"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div class="flex flex-col items-center text-center gap-4">
                  <p class="text-gray-500">
                    <strong>"</strong>Excellent place to go and have fun WIN and enjoy music and great atmosphere...<strong
                      >"</strong
                    >
                  </p>
                  <h4 class="font-semibold">Ofelita Cabrera</h4>
                  <div>
                    <img src="img/icons/facebook-bl.png" alt="Facebook logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- CONTACTO -->

      <section id="contacto" class="flex justify-center bg-white">
        <div
          class="flex flex-col md:flex-row py-20 w-[90%] lg:w-9/12 gap-8 text-primary max-w-[1000px]"
        >
          <div class="flex flex-col gap-8 md:w-1/2">
            <h2
              style="font-family: Pacifico, sans-serif"
              class="text-2xl text-center md:text-4xl md:text-left font-bold"
            >
            ¿Necesitas algo?
              <br />
              ¡Envianos un mensaje!
            </h2>
            <div class="font-semibold md:inline-block" hidden>
              <div class="flex items-center mb-7">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                  
                </div>
                <p class="ms-4 break-all">info@tropicanabingoarcade.com</p>
              </div>
              <div class="flex items-center mb-7">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                  </svg>
                  
                </div>
                <div class="flex flex-col gap-y-2 ms-4">
                  <p>(305) 556 3344</p>
                </div>
              </div>
              <div class="flex items-center mb-7">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                  
                </div>
                <div class="flex flex-col ms-4 gap-y-4">
                  <p><strong>Horarios:</strong></p>
                  <p>Lunes a domingo: 8:00am - 12:00am</p>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col md:w-1/2 gap-4 w-full">
            <!-- FORMULARIO -->
            @include('partials._contact') @antlers {{ form:contact }} {{ if
            success }}
            <div class="bg-green-300 text-white p-2">{{ success }}</div>
            {{ else }} {{ if errors }}
            <div class="bg-red-300 text-white p-2">
              {{ errors }} {{ value }}<br />
              {{ /errors }}
            </div>
            {{ /if }}

            <div class="flex flex-col gap-4 text-white">
              <div class="flex flex-col md:flex-row gap-4 w-full">
                <div class="md:w-1/2">
                  <input
                    type="text"
                    name="firstName"
                    id="firstName"
                    minlength="2"
                    maxlength="32"
                    pattern="[A-Za-z\s]{1,32}"
                    title="Nombres"
                    class="w-full h-12 p-4 text-mediumGray focus:outline-none focus:border-lightGray focus:ring-1 focus:ring-lightGray invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 rounded-2xl"
                    placeholder="Nombres"
                  />
                  {{ if errors }}
                  <span class="inline-block text-white">
                    Este campo no puede estar vacío, e.g. John
                  </span>
                  {{ /if }}
                </div>
                <div class="md:w-1/2">
                  <input
                    type="text"
                    name="lastName"
                    id="lastName"
                    minlength="2"
                    maxlength="32"
                    pattern="[A-Za-z]{1,32}"
                    class="w-full h-12 p-4 text-mediumGray focus:outline-none focus:border-lightGray focus:ring-1 focus:ring-lightGray invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 rounded-2xl"
                    placeholder="Apellidos"
                  />

                  {{ if errors }}
                  <span class="inline-block text-white">
                    Este campo no puede estar vacío, e.g. Doe
                  </span>
                  {{ /if }}
                </div>
              </div>

              <div class="w-full">
                <input
                  type="email"
                  name="email"
                  id="email"
                  minlength="4"
                  class="w-full h-12 p-4 text-mediumGray focus:outline-none focus:border-lightGray focus:ring-1 focus:ring-lightGray invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 rounded-2xl"
                  pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                  placeholder="Correo electrónico"
                />

                {{ if errors }}
                <span class="inline-block text-white">
                  Este campo no puede estar vacío, e.g. correo@ejemplo.com
                </span>
                {{ /if }}
              </div>

              <div class="w-full">
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  inputmode="numeric"
                  minlength="9"
                  maxlength="12"
                  class="w-full h-12 p-4 text-mediumGray focus:outline-none focus:border-lightGray focus:ring-1 focus:ring-lightGray invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 rounded-2xl"
                  pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$"
                  placeholder="Número telefónico"
                />

                {{ if errors }}
                <span class="inline-block text-white">
                  Este campo no puede estar vacío, e.g. 123 456 7890
                </span>
                {{ /if }}
              </div>
              <div class="w-full">
                <textarea
                  name="note"
                  id="note"
                  minlength="10"
                  class="bg-[F5F5F5] w-full min-h-40 p-4 resize-none text-mediumGray focus:outline-none focus:border-lightGray focus:ring-1 focus:ring-lightGray invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 rounded-2xl"
                  placeholder="Escribe un mensaje"
                ></textarea>
                {{ if errors }}
                <span class="inline-block text-white">
                  Este campo no puede estar vacío.
                </span>
                {{ /if }}
              </div>
              <input
                type="text"
                class="hidden"
                name="{{ honeypot ?? 'honeypot' }}"
              />
              <div class="transition-opacity hover:opacity-100 hover:ease-in">
                <button
                  type="submit"
                  class="bg-primary text-white py-2 px-4 font-bold flex justify-center items-center md:w-1/2 w-full transition-all ease-in hover:bg-secondary focus:ring-4 focus:bg-secondary focus:ring-secondary/50 active:bg-primary active:ring-4 active:ring-darkbg-primary/50 disabled:bg-opacity-50 rounded-full"
                >
                  Enviar mensaje
                </button>
              </div>
            </div>

            {{ /if }} {{ /form:contact }} @endantlers
          </div>
        </div>
      </section>

      <!-- SUCURSALES -->
      <section id="sucursales" class="flex justify-center">
        <div
          class="w-full md:w-9/12 flex flex-col md:flex-row justify-center py-16 gap-10"
        >
          <h2
            class="text-primary text-2xl text-center md:text-left md:text-5xl py-4 md:hidden font-bold"
          >
            ¿Quieres unirte a la fiesta?
            <br />
            ¡Visitanos!
          </h2>

          <div class="md:w-1/2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d897.4034001114032!2d-80.3389849!3d25.8821919!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bb8086cacaa5%3A0xe4fdb3f16269afbe!2sTropicana%20Bingo%20%26%20Arcade!5e0!3m2!1sen!2smx!4v1708725153035!5m2!1sen!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div
            class="md:w-1/2 text-darkGray flex-col justify-center items-left gap-12 hidden md:flex"
          >
            <h2
              class="text-primary text-2xl text-center md:text-left md:text-5xl font-bold"
            >
              ¿Quieres unirte a la fiesta?
              <br />
              ¡Visitanos!
            </h2>
            <p class="text-lg">
              2750 W 68th St suite 130, Hialeah, FL 33016
            </p>
          </div>
          <div
            class="w-full text-lg py-4 px-4 md:hidden font-normal text-navGray"
          >
            <p class="font-bold text-darkGray leading-8 break-all">
              2750 W 68th St suite 130, Hialeah, FL 33016
            </p>
            <p>Teléfono: (305) 556-3344</p>
          </div>
        </div>
      </section>

      <!-- HORARIOS -->

      <section id="horarios" class="bg-white">
        <div
          class="flex flex-col items-center text-neutralGray gap-y-4 md:hidden text-lg font-semibold max-w-[1000px] py-16 px-4"
        >
          <p class="font-bold text-black text-2xl">Horarios:</p>
          <p>Lunes - Domingo: 8:00am - 12:00am</p>
        </div>
      </section>

      <!-- FAQ -->
      <section x-data="" class="flex justify-center bg-mediumGray">
        <div
          class="flex flex-col items-center w-[90%] md:w-9/12 py-16 text-white max-w-[1000px]"
        >
          <h2 class="font-bold mb-10 text-2xl md:text-4xl">FAQs</h2>
          <div class="divide-y w-full">
            <!-- QUESTION 1 -->
            <div x-data="{ open: false}">
              <div x-on:click="open = !open" class="flex justify-between py-6">
                <div class="font-bold">
                  ¿Qué juegos y actividades ofrecen en Tropicana Bingo and Arcade?
                </div>
                <button class="text-white text-2xl">
                  <svg
                    x-show="!open"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 4.5v15m7.5-7.5h-15"
                    />
                  </svg>

                  <svg
                    x-show="open"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5 12h14"
                    />
                  </svg>
                </button>
              </div>
              <div x-show="open" class="pb-4 text-white divide-y">
                En Tropicana Bingo and Arcade ofrecemos una variedad de juegos de bingo, máquinas tragamonedas, videojuegos arcade y más. También organizamos eventos especiales y sorteos para nuestros clientes.
              </div>

              <!-- QUESTION 2 -->
              <div x-data="{ open: false}">
                <div
                  x-on:click="open = !open"
                  class="flex justify-between py-6"
                >
                  <div class="font-bold">¿Ofrecen promociones o descuentos especiales?</div>
                  <button class="text-white text-2xl">
                    <svg
                      x-show="!open"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                      />
                    </svg>

                    <svg
                      x-show="open"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5 12h14"
                      />
                    </svg>
                  </button>
                </div>
                <div x-show="open" class="pb-4 text-white divide-y">
                  Sí, ofrecemos promociones y descuentos especiales en ciertos días de la semana o para eventos especiales. Visita nuestra página web o síguenos en redes sociales para mantenerte informado sobre nuestras ofertas.
                </div>
              </div>

              <!-- QUESTION 3 -->
              <div x-data="{ open: false}">
                <div
                  x-on:click="open = !open"
                  class="flex justify-between py-6"
                >
                  <div class="font-bold">
                    ¿Se pueden organizar eventos privados en Tropicana Bingo and Arcade?
                  </div>
                  <button class="text-white text-2xl">
                    <svg
                      x-show="!open"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                      />
                    </svg>

                    <svg
                      x-show="open"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5 12h14"
                      />
                    </svg>
                  </button>
                </div>
                <div x-show="open" class="pb-4 text-white divide-y">
                  Sí, podemos organizar eventos privados para grupos grandes, como fiestas de cumpleaños, eventos corporativos o reuniones sociales. Ponte en contacto con nosotros para más información y para reservar tu evento.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <section
        class="bg-darkGray flex flex-col justify-center items-center py-16"
      >
        <div class="w-[90%] max-w-[1000px]">
          <div
            class="w-full flex flex-col md:flex-row md:items-center justify-evenly pb-16"
          >
            <div class="flex flex-col items-center gap-6 md:max-w-[255px]">
              <div
                class="justify-self-center self-center flex justify-center items-center h-16"
              >
                <img
                  src="img/logos/logo-full-bk.png"
                  alt="Ícono del logo"
                  class="object-contain h-full w-full"
                />
              </div>
              <div
                class="text-white opacity-50 text-5xl flex flex-row justify-evenly mb-6 md:mb-0 gap-8"
              >
                <a href=""
                  ><img src="./img/icons/facebook-w.png" alt="Icon facebook"
                /></a>
                <a href=""
                  ><img src="./img/icons/whatsapp-w.png" alt="Icon WhatsApp"
                /></a>
              </div>
            </div>
            <div
              class="flex flex-col justify-center gap-y-4 mb-4 md:mb-0 text-white"
            >
              <h3 class="font-bold">Mapa del sitio</h3>
              <ul class="grid gap-y-4 underline opacity-60">
                <li class=""><a href="#hero">Inicio</a></li>
                <li><a href="#products">Galería</a></li>
                <li><a href="#about">Sobre nosotros</a></li>
              </ul>
            </div>
            <div class="text-white opacity-60 flex flex-col justify-center">
              <ul class="grid gap-y-4 underline">
                <br class="hidden md:inline-block">
                <li><a href="#reviews">Reseñas</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#sucursales">Ubicación</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="opacity-50 w-[90%]" />
        <span
          class="sm:text-center text-white opacity-60 pt-8 mb-8 w-[90%] md:w-3/5"
          >{{ now()->year }}, Tropicana Amusement Group Corp., Todos los derechos
          reservados.</span
        >
      </section>
    </footer>
  </body>
</html>
